<?xml version="1.0" encoding="utf-8"?>
<configuration>	<!-- https://docs.microsoft.com/en-us/nuget/reference/nuget-config-file -->
	<!-- Below I use clear to ignore upwards package sources. I also use an original names for my sources in case upward configs disable them -->
	<packageSources>
		<clear/>
		<add key="Nuget official package source" value="http://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />

		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

</configuration>